# .NET
bin/
obj/
Publish/

# OS
.DS_Store
Thumbs.db

# GridGhost Installers
*.exe
!DeviceSim.App/Assets/Icons/*.ico

# Debug/Temp
*.pdb
crash.txt
crash_domain.txt
debug_templates.txt
templates_error.txt
DeviceSim.DebugConsole/
InterfaceProbe.cs
ProbingUtils.cs
