[Desktop Entry]
Name=GridGhost
Comment=Modbus Device Simulator
Exec=GridGhost
Icon=gridghost_icon
Type=Application
Categories=Utility;Network;
StartupWMClass=GridGhost
